// Make sure the charset is set appropriately
@charset "UTF-8";

// This includes all of the foundation global elements that are needed to work with any of the other files.
@import "foundation/foundation-global";

// Foundation Components
@import
  "foundation/components/global",
  "foundation/components/grid",
  "foundation/components/visibility",
  "foundation/components/block-grid",
  "foundation/components/type",
  "foundation/components/buttons",
  "foundation/components/forms",
  "foundation/components/custom-forms",
  "foundation/components/button-groups",
  "foundation/components/dropdown-buttons",
  "foundation/components/split-buttons",
  "foundation/components/flex-video",
  "foundation/components/section",
  "foundation/components/top-bar",
  "foundation/components/orbit",
  "foundation/components/reveal",
  "foundation/components/joyride",
  "foundation/components/clearing",
  "foundation/components/alert-boxes",
  "foundation/components/breadcrumbs",
  "foundation/components/keystrokes",
  "foundation/components/labels",
  "foundation/components/inline-lists",
  "foundation/components/pagination",
  "foundation/components/panels",
  "foundation/components/pricing-tables",
  "foundation/components/progress-bars",
  "foundation/components/side-nav",
  "foundation/components/sub-nav",
  "foundation/components/switch",
  "foundation/components/magellan",
  "foundation/components/tables",
  "foundation/components/thumbs",
  "foundation/components/tooltips",
  "foundation/components/dropdown";

// Text rendering
//
// This has performance impacts on some browsers
// but should be neglibible
* {text-rendering: optimizeLegibility;}

// Navigation
//
// nav bar including a logo div and a bunch of links
// horizontally spaced
nav {
  @include grid-row();
  border-bottom: 1px solid #ccc;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  div#logo {
    @include grid-column(3);
    h1 {
      font-size: 25px;
    }
    em {
      font-size: 15px;
    }
  }
  ul {
    list-style: none;
    @include grid-column(9);
    li {
      display: inline-block;
      line-height: 17px;
      @include grid-column(3);
      em {
        display: block;
      }
    }
  }
}

// Footer
//
// A full width footer for style, containing divs with content
footer  {
  background-color: #feffff;
  @include grid-row();
  min-height: 200px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
  text-align: center;
}


// Article
//
// A blog article
article {
  @include grid-column(12);
  header {
    @include grid-column(3);
  }
  section {
    @include grid-column(9);
  }
}