// Make sure the charset is set appropriately
@charset "UTF-8";

// This includes all of the foundation global elements that are needed to work with any of the other files.
@import "foundation/foundation-global";

// Foundation Components
@import
  "foundation/components/global",
  "foundation/components/grid",
  "foundation/components/visibility",
  "foundation/components/block-grid",
  "foundation/components/type",
  "foundation/components/buttons",
  "foundation/components/forms",
  "foundation/components/custom-forms",
  "foundation/components/button-groups",
  "foundation/components/dropdown-buttons",
  "foundation/components/split-buttons",
  "foundation/components/flex-video",
  "foundation/components/section",
  "foundation/components/top-bar",
  "foundation/components/orbit",
  "foundation/components/reveal",
  "foundation/components/joyride",
  "foundation/components/clearing",
  "foundation/components/alert-boxes",
  "foundation/components/breadcrumbs",
  "foundation/components/keystrokes",
  "foundation/components/labels",
  "foundation/components/inline-lists",
  "foundation/components/pagination",
  "foundation/components/panels",
  "foundation/components/pricing-tables",
  "foundation/components/progress-bars",
  "foundation/components/side-nav",
  "foundation/components/sub-nav",
  "foundation/components/switch",
  "foundation/components/magellan",
  "foundation/components/tables",
  "foundation/components/thumbs",
  "foundation/components/tooltips",
  "foundation/components/dropdown";

@import "compass/css3";

@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300);

$pantone-282: rgb(0, 33, 71);
$oxford-blue: $pantone-282;
$heading-font-family: 'Roboto Condensed', sans-serif;
$body-font-family: 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;

h1, h2, h3, h4, h5 {
  font-family: $heading-font-family;
  a {
    color: lighten($oxford-blue, 5%);
  }
}

// Text rendering
//
// This has performance impacts on some browsers
// but should be neglibible
* {text-rendering: optimizeLegibility;}

// Link rendering
//
//
a {
  &:hover {
    @include transition(0.2s all ease-out);
  }
  @include transition(1s all ease-in);
  color: lighten($oxford-blue, 15%);
}

// Images
//
// Styling for images
img {
  margin-bottom: 1em;
}

// Navigation
//
// nav bar including a logo div and a bunch of links
// horizontally spaced
nav {
  @include grid-row();
  border-bottom: 1px solid #ccc;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  div#logo {
    @include grid-column(3);
    h1 {
      font-size: emCalc(25px);
      line-height: emCalc(28px);
      small {
        font-size: emCalc(13px);
        display: block;
      }
    }
  }
  ul {
    @include grid-column(9);
    list-style: none;
    margin-top: 1em;
    font-family: $heading-font-family;
    li {
      @include grid-column(3);
      display: inline-block;
      font-size: emCalc(20px);
      line-height: emCalc(18px);
      padding-left: 0;
      em {
        display: block;
        font-style: normal;
        font-size: emCalc(13px);
      }
    }
  }
}

// Footer
//
// A full width footer for style, containing divs with content
footer  {
  background-color: #feffff;
  @include grid-row();
  min-height: 200px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
  text-align: center;
}


// Article
//
// A blog article
article {
  @include grid-row();
  border-bottom: 1px solid #ccc;
  margin-bottom: 2em;
  // TODO Appears not to be working
  &:last-child { border: 0 }
  // Header
  //
  // Includes title and metadata about the article
  header {
    @include grid-column(3);
  }
  // Entry section
  //
  // Contains the content of the article
  section.entry {
    @include grid-column(9);
    margin-top: 1em;
    // Summary section
    //
    // Used to provide a tl;dr
    section.summary {

    }
  }
  // Comments section
  //
  // Full width section, but content aligned with the article
  section.comments {
    @include grid-column(9, true, false, 3);
  }
}

// Pagination section
//
// A section which contains links forward/backward through time
// allowing pagination through multiple blog articles
section#pagination {
  @include grid-row();
  text-align: center;
  padding-bottom: 2em;
  a {
    padding: 20px;
  }
}