<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mobile Oxford Blog</title>
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
    <link href="{{ SITEURL }}/theme/css/normalize.css" rel="stylesheet" />
    <link href="{{ SITEURL }}/theme/css/app.css" rel="stylesheet" />
    <script src="{{ SITEURL }}/theme/js/vendor/jquery.js"></script>
    <script src="{{ SITEURL }}/theme/js/foundation/foundation.js"></script>
    <script src="{{ SITEURL }}/theme/js/foundation/foundation.topbar.js"></script>
  </head>
  <body>
        <nav class="top-bar">
          <ul class="title-area">
            <li class="name"><h1><a href="/">Mobile Oxford</a></h1></li>
            <li class="toggle-topbar menu-icon">
            <a href="#"><span>Menu</span></a>
            </li>
          </ul>
          <section class="top-bar-section">
            <ul class="right">
              {% for p in pages %}
              {# Why does this need to be absolute? #}
              <li class="divider"></li>
              <li><a href="/{{ p.url }}">{{ p.title }}</a></li>
              {% endfor %}
            </ul>
          </section>
        </nav>
    <div class="row">
      <div class="large-12 columns">
        <h1><a href="{{ SITEURL }}">Mobile Oxford</a> <small>indistinctively different</small></h1>
        <hr></hr>
      </div>
    </div>
    <div class="row">
      {% block content %}
      {% endblock content %}
      <div class="large-12 columns">
        <hr>
        <div class="row">
          <div class="large-6 columns">
            <p>Copyright thingy?</p>
          </div>
          <div class="large-6 columns">
            <ul class="inline-list right">
              <li><a href="#">IT Services</a></li>
              <li><a href="#">Other friendly people</a></li>
            </ul>
          </div>
        </div>
      </div>

    </div>

    <script>
      $(document).foundation();
    </script>
  </body>
 </html>
