{% extends "base.html" %}
{% block content %}
{% for article in articles_page.object_list %}
<article>
  <header role="article-info">
    <h3>{{ article.title }}</h3>
    <h6>{{ article.author.name }}</h6>
    <p class="tags">
  {% for tag, articles in tags %}
  {{ tag }}{% if not loop.last %},{% endif %}
  {% endfor %}
    </p>
    <p class="date"><span>{{ article.locale_date }}</span></p>
  </header>
<section class="entry">{{ article.content }}</section>
</article>
{% endfor %}
{% endblock content %}
